nDistribute.WCF/Service References/NetworkServiceClient/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/nDistribute" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/nDistribute" minOccurs="0" name="newNode" nillable="true" type="q1:NodeAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/nDistribute" minOccurs="0" name="ConnectResult" nillable="true" type="q2:NodeAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdviseConnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/nDistribute" minOccurs="0" name="newParent" nillable="true" type="q3:NodeAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChildDisconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/nDistribute" minOccurs="0" name="address" nillable="true" type="q4:NodeAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/nDistribute" minOccurs="0" name="from" nillable="true" type="q5:NodeAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>