nDistribute.WCF/Service References/NetworkServiceClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RemoteConnectionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/nDistribute" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INodeContract_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="INodeContract_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="INodeContract_AdviseConnect_InputMessage">
    <wsdl:part name="parameters" element="tns:AdviseConnect" />
  </wsdl:message>
  <wsdl:message name="INodeContract_ChildDisconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:ChildDisconnect" />
  </wsdl:message>
  <wsdl:message name="INodeContract_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:portType name="INodeContract">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/INodeContract/Connect" message="tns:INodeContract_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INodeContract/ConnectResponse" message="tns:INodeContract_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdviseConnect">
      <wsdl:input wsaw:Action="http://tempuri.org/INodeContract/AdviseConnect" message="tns:INodeContract_AdviseConnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChildDisconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/INodeContract/ChildDisconnect" message="tns:INodeContract_ChildDisconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:input wsaw:Action="http://tempuri.org/INodeContract/Send" message="tns:INodeContract_Send_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INodeContract" type="tns:INodeContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connect">
      <soap:operation soapAction="http://tempuri.org/INodeContract/Connect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdviseConnect">
      <soap:operation soapAction="http://tempuri.org/INodeContract/AdviseConnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ChildDisconnect">
      <soap:operation soapAction="http://tempuri.org/INodeContract/ChildDisconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://tempuri.org/INodeContract/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteConnectionService">
    <wsdl:port name="BasicHttpBinding_INodeContract" binding="tns:BasicHttpBinding_INodeContract">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/nDistribute.WCF/INodeContract/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>